.line-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
}

@media screen and (max-width: 768px) {
  .line-chart {
    height: 20rem;
  }
}
