.user-info {
  display: flex;
  align-items: flex-end;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.user-info__avatar {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}
