.user-info {
  display: flex;
  align-items: flex-end;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
}

.user-info__avatar {
  display: flex;
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.user-info__link {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-info__link svg {
  width: 2rem;
  height: 2rem;
}
