.mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: background-color 0.1s;
  background-color: #151f2e;
}
.mode-button:hover {
  color: #249bd9;
  background-color: rgba(0, 0, 0, 0.5);
}

.mode-button--active {
  color: #249bd9;
  background-color: rgba(0, 0, 0, 0.5);
}
