.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: background-color 0.1s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.link-button:hover {
  color: #249bd9;
}
