.user__error-message {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.user__loading-indicator {
  display: flex;
  justify-content: center;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.user__instructions {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .user-content__instructions {
    font-size: 1rem;
  }
}
