* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #9fadbd;
  background-color: #0b1622;
}

button {
  color: #9fadbd;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  color: #000;
  border: none;
}

svg path {
  fill: #9fadbd;
}

input[type="number"] {
  appearance: textfield;
  /* Remove Firefox default browser style */
  outline: none;
}

/* Remove WebKit default browser style */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="range"] {
  cursor: pointer;
  appearance: none;
  /* Remove WebKit default browser style */
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  /* Remove WebKit default browser style */
  background-color: #fff;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  border: none;
  /* Remove Firefox default browser style */
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
