.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home__container {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  border-radius: 50px;
  background-color: #151f2e;
}

.home__title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #37a1d9;
}

.home__description {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.home__description-link {
  color: #37a1d9;
  text-decoration: underline;
  margin: 0px 5px;
}

.home__button-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 2rem;
  }

  .home__description {
    font-size: 1rem;
  }

  .home__container {
    padding: 6rem;
  }
}
