.user {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.user__controls {
  display: flex;
}

.user__controls-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.user__controls-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.user__controls-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

.user__error-message {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.user__instructions {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}
