.user {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.user__controls {
  display: flex;
  margin-bottom: 1rem;
}

.user__controls-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.user__controls-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.user__controls-right {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .user {
    padding: 6rem 2rem;
  }
}
