.user-content__error-message {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.user-content__loading-indicator {
  display: flex;
  justify-content: center;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.user-content__instructions {
  display: flex;
  background-color: #151f2e;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 2rem;
}
