.user__controls {
  display: flex;
  margin-bottom: 1rem;
}

.user__controls-left {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

.user__controls-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 1rem;
}

.user__controls-right {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}
