.statistic {
  display: flex;
  background-color: #151f2e;
  border-radius: 20px;
  padding: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
}

.statistic__statistic {
  color: #37a1d9;
  font-size: 2rem;
}
