.nav-bar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.1s;
  cursor: pointer;
}

.nav-bar-link:hover {
  color: #d3d5f3;
}

.nav-bar-link--active {
  color: #d3d5f3;
}
